
.container__option{
    margin-top: 81px;
    padding-top: 16px;
}
.container__option-list{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}
.container__option-item{
    border: 1px solid #e6e6e6;
    margin-right: 16px;
    border-radius: 4px;
    display: inline-block;
}
.container__option-item:hover{
    background-color: rgb(233 99 58 / 60%);
}
.container__option-item:hover a{
    color: var(--white-color);
}
.container__option-link{
    text-decoration: none;
    display: inline-block;
    height: 38px;
    padding: 13px 14px;
    width: 100%;
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: var(--text-color);
}

.container__advice{
    color: var(--primary-color);
    font-size: 1.4rem;
    line-height: 2;
    margin-top: 32px;
}

.container__header h2{
    font-size: 2.4rem;
}
.container__sort{
    position: relative;
}
.sort-parent{
    height: 46px;
    width: 280px;
    border: 1px solid #e6e6e6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 14px;
    cursor: pointer;
    border-radius: 4px;
}
.sort-parent:hover {
    border-color: var(--hover-color);
}
.sort-parent span{
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 400;
}
.container__sort ul{
    list-style: none;
    margin: 0;
    padding: 4px 0;
    position: absolute;
    top: 50px;
    left: 0;
    border: 1px solid #e6e6e6;
    width: 100%;
    border-radius: 4px;
    background-color: var(--white-color);
    display: none;
}
.container__sort ul li {
    height: 40px;
    width: 100%;
    font-size: 1.6rem;
    line-height: 1.6;
    padding: 8px 14px 0 14px;
}
.container__sort ul li:hover{
    background-color: #e6e6e6;
}

.container__item{
    margin-top: 4px;
}
.item-img{
    margin-top: 20px;
}
.item-img img{
    width: 100%;
    height: 139px;
}

.item-name{
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--text-color);
    margin: 4px 0;
}
.item-link i{
    margin-right: 4px;
    color: orangered;
    font-size: 1.6rem;
}
.item-link a{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    text-decoration: none;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.item-price{
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--text-color);
    margin: 4px 0;
}

.pagination{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding-left: 0;
}

.pagination-item{
    margin: 0 12px;
}

.pagination-item--active .pagination-link{
    background-color: var(--primary-color);
    color: var(--white-color);
}

.pagination-item--active .pagination-link:hover{
    background-color: #ed5c3f ;
}

.pagination-link{
    display: block;
    color: rgba(0,0,0,.4);
    font-size: 2rem;
    text-decoration: none;
    min-width: 40px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 2px;
}
